@page
@model PrivacyModel
@{
    ViewData["Title"] = "About the Program";
}
<h1>@ViewData["Title"]</h1>

<p>So, this is my Inventory Management system. It's more of a side project but if it gets good enough I'll use it alongside (or maybe exclusively) the current situation I have at work, which is
    basically a poorly maintained, Access databse which is very fragile. Things I aim to include with this program is:<br />
    <ul>
        <li>All the functionality of the existing system, Adding, Editing and Deleting Assets.</li>
        <li>Reporting to allow for allocations and acquired items to be easily exported to a format for the Service Delivery Manager / Accountant.</li>
        <li>Protection and validation from accidental changing of records to allow for a more accurate record.</li>
        <li>A better user experience with better performance than an ACCDB.</li>
    </ul>
    </p>
